{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="image-menu">
            <img src="{% static 'img/oportunidad-de-cambio2-121x62.png' %}" alt="">
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="*" class="letra-menu">Bienvenid@s <span style="position:absolute;margin-left:6px;"><b>{{ user.username }}</b></span></a>
            {% else %}
            <a href="*" class="letra-menu">Bienvenid@s</a>
            {% endif %}
        </div>
    </header>    
        <section>
            <nav>
                <div class="nav-menu">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="header">
                        <ul class="nav">
                            <li><a href="{% url 'inicio' %}">Inicio</a></li>   
                            {% if user.is_superuser %}
                                <li><a href="">Noticias</a>
                                    <ul>
                                        <li><a href="{% url 'noticias:addnoti' %}">Cargar Noticia</a></li>
                                        <li><a href="{% url 'noticias:noti' %}">Ver Noticia</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{% url 'noticias:noti' %}">Noticia</a></li>
                            {% endif %}
                            <li><a href="">Acerca de</a>
                                <ul>
                                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                                </ul>
                            </li>
                            <li><a href="">Loguearse</a>
                                <ul>
                                    <li>{% if user.is_authenticated %}
                                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                                        {% else %}
                                        <a href="{% url 'login' %}">Iniciar sesion</a>
                                    </li>
                                        <li><a href="{% url 'usuarios:registro' %}">Registrarse</a></li>
                                        {% endif %}                
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <main>
            <section class="wrapper">
                <div class="caja-wrapper"><p class="p-wrapper">Telefono</p><img src="{% static 'img/telefono.jpg' %}" alt=""><h4>3644666666</h4></div>
                <div class="caja-wrapper"><p class="p-wrapper">Email</p><img src="{% static 'img/email.jfif' %}" alt=""><h4><a href="">Otaku minion</a></h4></div>
                <div class="caja-wrapper"><p class="p-wrapper">Direccion</p><img src="{% static 'img/direccion.png' %}" alt=""><h4>Las heras 345 - Machagai - Chaco <br> (Argentina)</h4></div>
                <div class="caja-wrapper"><p class="p-wrapper">Facebook</p><img src="{% static 'img/facebook.png' %}" alt=""><h4><a href="">Otaku minion</a></h4></div>
            </section>
        </main>
        <footer><h3>© Copyright - Todos los derechos reservados</h3></footer>
</body>
</html>