{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="image-menu">
            <img src="{% static 'img/oportunidad-de-cambio2-121x62.png' %}" alt="">
        </div>
        <div>
            {% if user.is_authenticated %}
                <a href="*" class="letra-menu">Bienvenid@s <span style="position:absolute;margin-left:6px;"><b>{{ user.username }}</b></span></a>
            {% else %}
            <a href="*" class="letra-menu">Bienvenid@s</a>
            {% endif %}
        </div>
    </header>    
        <section>
            <nav>
                <div class="nav-menu">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="header">
                        <ul class="nav">
                            <li><a href="{% url 'inicio' %}">Inicio</a></li>   
                            {% if user.is_superuser %}
                                <li><a href="">Noticias</a>
                                    <ul>
                                        <li><a href="{% url 'noticias:addnoti' %}">Cargar Noticia</a></li>
                                        <li><a href="{% url 'noticias:noti' %}">Ver Noticia</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{% url 'noticias:noti' %}">Noticia</a></li>
                            {% endif %}
                            <li><a href="">Acerca de</a>
                                <ul>
                                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                                </ul>
                            </li>
                            <li><a href="">Loguearse</a>
                                <ul>
                                    <li>{% if user.is_authenticated %}
                                        <a href="{% url 'logout' %}">Cerrar Sesion</a>
                                        {% else %}
                                        <a href="{% url 'login' %}">Iniciar sesion</a>
                                    </li>
                                        <li><a href="{% url 'usuarios:registro' %}">Registrarse</a></li>
                                        {% endif %}                
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <div class="dsps-nav"><h4>Nosotros</h4></div>
        <main>
            <section class="wrapper">
                <div class="caja-wrapper"><h2>Mision</h2><p>- Fomentar el desarrollo de la educacion, de la <br>salud, y el bienestar social; Lograr el mejoramiento <br>de la calidad de vida. <br>- Estimular la participacion civica y solidaria. <br>Crear ambitos de integracion y recreacion. <br>- Promover la dignidad humana en toda su <br> dimension etica y cultural, particularmente la <br> igualdad efectiva de oportunidades entre el <br>hombre y la mujer y los derechos <br>de la infancia.</p></div>
                <div class="caja-wrapper"><h2>Vision</h2><p>Actualmente la ONG trabaja en tres instalaciones
                    propias, en diferentes puntos de la localidad, a los que asisten mayoritariamente niños de barriadas carenciadas; En este contexto los comedores se convierten en un espacio de contención en el que, además de proporcionarles alimento, se les brinda
                    esparcimiento, apoyo escolar, actividades culturales y recreativas; afecto y atención. Allí niños son escuchados y contenidos.
                    Queremos llegar a ser una ONG que sea destacada en la región por el acompañamiento que brinda a la comunidad, el esfuerzo de quienes participamos y, por el apoyo de quienes nos ayudan y acompañan.</p></div>
            </section>
            <section class="texto-centro"><h4>Miembros</h4></section>
            <section class="wrapper2">
                <div class="caja-wrapper"><img src="{% static 'img/mbr-1920x1279.jpg' %}" alt=""></div>
                <div class="caja-wrapper"><h2>Presidente:</h2><p>Josefa Solís</p><h2>Consejeros:</h2><p>Silvana Clerici <br>
                    Carlos Aguirre <br>
                    Susana Maidana <br>
                    Ernesto Núñez <br>
                    Rubén Sandoval <br>
                    Jorge Pucheta</p></div>
            </section>
        </main>
    <footer><h3>© Copyright - Todos los derechos reservados</h3></footer>
</body>
</html>